<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
  <!--http://localhost:8083/v1-->
    <add key="BaseApiUri" value="http://preprod.checkout.com/api2/v2" />
    <add key="PublicKey" value="pk_1ADBEB2D-2BEA-4F82-8ABC-EDE3A1201C8D" />
    <add key="SecretKey" value="sk_CC937715-4F68-4306-BCBE-640B249A4D50" />
    <add key="RequestTimeout" value="60" />
    <add key="MaxResponseContentBufferSize" value="1000000" />
    <add key="DebugMode" value="true" />
  </appSettings>
</configuration>