<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="logs/NLogs.log" autoReload="true" throwExceptions="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here -->

    <!-- File Logger  -->

    <target name="File-PerformanceCallTracker" xsi:type="File" fileName="logs/performanceRequestLogger.log"
            layout="${longdate}
            CLASSNAME:${event-context:item=CLASSNAME}
            METHODNAME:${event-context:item=METHODNAME}
            EXECUTIONTIME: ${event-context:item=EXECUTIONTIME}
            MESSAGE: ${event-context:item=MESSAGE}
            HTTPSTATUS: ${event-context:item=HTTPSTATUS}
            "  />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--File logging -->
  <logger name="PerformanceCallTracker" minlevel="Debug" writeTo="File-PerformanceCallTracker" />

  </rules>
</nlog>
